/* import external font */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;700;800&family=Poppins&display=swap');

body {
    margin: 0px 0 0 0;
    font-family: 'Mulish', sans-serif;
}
section {
    margin-bottom: 80px !important;
}
.container {
    margin: 0 7vw;
}
.btn-orange {
    background-color: #FF5400;
    font-size: 1.25rem;
    font-weight: 700;
    border: none;
    color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 30px;
}


/* navbar styles */
nav {
    display: flex;
    justify-content: space-between;
    position: relative;
}
nav img {
    width: 56px;
    margin-right: 16px;
}
nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    position: relative;
}
nav li {
    margin-right: 32px;
}
nav a {
    text-decoration: none;
    color: #424247;
}
nav a:hover{
    color: #FF5400;
}
#nav-brand {
    display: flex;
    align-items: center;
}
#check {
    display: none;
}
#open-menu, #close-menu {
    position: absolute;
    right: 0;
    color: #FF5400;
    display: none;
}


/* banner styles */
#banner {
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url("./Images/Group13.png");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    border-radius: 20px;
}
#banner-content {
    width: 80%;
    padding: 20vh 0;
}
#banner-content form {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#banner-content input, #banner-content select {
    width: 20%;
    height: 50px;
    border-radius: 10px;
    border: none;
    margin: 20px 0;
    color: #5A5A5D;
}
#banner-content input:focus, #banner-content select:focus {
    outline: none;
}
#banner-content button {
    margin: 20px 0;
    width: 20%;
    height: 50px;
}
#banner-content form {
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
}


/* tours section styles */
#tours {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#tours img {
    width: 90%;
    margin-left: 10%;
}


/* destination section styles */
#destination img {
    height: 100%;
}
#row-1{
    height: 300px;
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}
#row-2{
    height: 290px;
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}
#row-3{
    height: 300px;
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}
.dest-img-container {
    position: relative;
}
.img-label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}


/* why to choose styles */
#why-choose-grid img {
    width: 50px;
}
#why-choose-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
#card-1 {
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}
#card-2 {
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}
#card-3 {
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    width: 50%;
    margin: 0 auto;
}
#card-1, #card-2, #card-3 {
    padding: 40px;
}
#card-3-container {
    grid-column: span 2;
}


/* subscription section styles */
#newsletter {
    display: grid;
    grid-template-columns: calc(45% - 9px) calc(55% - 11px);
    gap: 20px;
}
#subscribe {
    border-radius: 16px;
    border: 1px solid #FF5400;
    padding: 35px 45px;
}
#subscribe input {
    display: block;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    width: 100%;
    height: 50px;
    border: none;
    margin: 0 0 20px 0;
}
#subscribe input:focus {
    outline: none;
}
#subscribe-img img {
    width: 100%;
}
#subscribe-img {
    position: relative;
}
#save {
    border-radius: 16px;
    background: #FF5400;
    width: 50%;
    padding: 15px 10px;
    position: absolute;
    bottom: 70px;
    right: 5px;
    transform: rotate(-25deg);
}


/* footer styles */
footer{
    background: rgba(19, 19, 24, 0.05);
}
#footer-brand {
    display: flex;
    align-items: center;
    justify-content: center;
}
#footer-brand img {
    width: 56px;
}
#icons {
    display: flex;
    justify-content: center;
}
#icons img {
    width: 30px;
    margin: 0 15px;
}


/* text colors */
.text-orange {
    color: #FF5400;
}
.text-white {
    color: white;
}
.text-primary {
    color: #131318;
}
.text-secondary {
    color: #5A5A5D;
}
.text-light {
    color: rgba(19, 19, 24, 0.70);
}
.text-light2 {
    color: #424247;
}


/* text sizes */
.text-16 {
    font-size: 1rem;
}
.text-18 {
    font-size: 1.125rem;
}
.text-20 {
    font-size: 1.25rem;
}
.text-24 {
    font-size: 1.5rem;
}
.text-28 {
    font-size: 1.75rem;
}
.text-32 {
    font-size: 2rem;
}
.text-36 {
    font-size: 2.25rem;
}
.text-40 {
    font-size: 2.5rem;
}
.text-64 {
    font-size: 4rem;
}


/* text-weights */
.weight-300 {
    font-weight: 300;
}
.weight-700 {
    font-weight: 700;
}
.weight-800 {
    font-weight: 800;
}


/* text-styles */
.text-center {
    text-align: center;
}


/* responsive styles */
@media only screen and (max-width: 992px) {
    .container {
        margin: 0 6vw;
    }
    section {
        margin-bottom: 50px !important;
    }

    /* nav bar responsive styles */
    nav ul {
        flex-direction: column;
        position: fixed;
        z-index: 10;
        top: 0;
        width: 50vw;
        background-color: rgba(19, 19, 24, 0.80);
        padding: 40px 0;
        right: -100%;
    }
    #check:checked ~ #menu {
        right: 0;
    }
    #check:checked ~ #open-menu {
        display: none;
    }
    nav a {
        color: white;
    }
    nav li {
        margin-bottom: 10px;
    }
    #open-menu, #close-menu {
        display: block;
    }
    #open-menu {
        top: 40%;
    }

    /* banner responsive styles */
    #banner-content form {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #banner-content input, #banner-content button, #banner-content select {
        width: 70%;
        margin: 20px 0;
    }
    #banner-title {
        font-size: 3rem;
    }

    /* tour section styles */
    #tours {
        grid-template-columns: 1fr;
        row-gap: 20px;
    }
    #tours img {
        width: 80%;
        margin: 0 10%;
    }


    /* destination section styles */
    #destination img {
        width: 100%;
        height: auto;
    }
    #row-1{
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 10px;
    }
    #row-2{
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 10px;
    }
    #row-3{
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 10px;
    }


    /* why to choose styles */
    #why-choose-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }
    #card-3 {
        width: 87%;
        margin: 0 auto;
    }
    #card-3-container {
        grid-column: span 1;
    }


    /* subscription section styles */
     #newsletter {
        grid-template-columns: 100%;
        gap: 20px;
    }
    #save {
        bottom: 60px;
        right: 0px;
    }
}
@media only screen and (max-width: 600px) {
    .container {
        margin: 0 4vw;
    }
    section {
        margin-bottom: 35px !important;
    }

    /* nav bar responsive styles */
    nav ul {
        flex-direction: column;
        position: fixed;
        z-index: 10;
        top: 0;
        width: 50vw;
        background-color: rgba(19, 19, 24, 0.80);
        padding: 40px 0;
        right: -100%;
    }
    #check:checked ~ #menu {
        right: 0;
    }
    #check:checked ~ #open-menu {
        display: none;
    }
    nav a {
        color: white;
    }
    nav li {
        margin-bottom: 10px;
    }
    #open-menu, #close-menu {
        display: block;
    }
    #open-menu {
        top: 40%;
    }

    /* banner responsive styles */
    #banner-content form {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #banner-content input, #banner-content button, #banner-content select {
        width: 80%;
        margin: 20px 0 20px 0;
    }
    #banner-title {
        font-size: 3rem;
    }

    /* tour section styles */
    #tours {
        grid-template-columns: 1fr;
        column-gap: 0;
        row-gap: 20px;
    }
    #tours img {
        width: 100%;
        margin: 0;
    }


    /* destination section styles */
    #destination img {
        width: 100%;
        height: auto;
    }
    #row-1{
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 10px;
    }
    #row-2{
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 10px;
    }
    #row-3{
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 10px;
    }


    /* why to choose styles */
    #why-choose-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }
    #card-3 {
        width: 81%;
        margin: 0 auto;
    }
    #card-3-container {
        grid-column: span 1;
    }


    /* subscription section styles */
    #newsletter {
        grid-template-columns: 100%;
        gap: 20px;
    }
    #save {
        bottom: 50px;
        right: 0px;
    }
}